extends layout.pug

mixin measurement_menu_element(measurement, actual, text)
    if measurement == actual
        li(role="presentation" class="active")
            a(href="../../device/" + device_id + "/" + measurement)= text
    else
        li(role="presentation")
            a(href="../../device/" + device_id + "/" + measurement)= text



block append styles
    link(rel="stylesheet" href="/jsmod/dygraphs/dist/dygraph.css")
    link(rel="stylesheet" href="/jsmod/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

block append scripts
    script(type="text/javascript" src="/jsmod/dygraphs/dist/dygraph.min.js")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/jsmod/moment/min/moment.min.js")
    script(type="text/javascript" src="/jsmod/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")

block content
    script(src="/javascripts/get_device_data.js")
    script.
        function update() {
            ask_for_data(
                socket,
                #{device_id},
                '#{measurement_id}',
                $('#datetimepicker1').data("DateTimePicker").date(),
                $('#datetimepicker2').data("DateTimePicker").date()
            );
            console.log("update");
        }

        var polling_id;

        function deltaupdate() {
            $('#datetimepicker2').data("DateTimePicker").date(moment());
        }


        function start_polling() {
            deltaupdate();
            polling_id = setInterval(
                deltaupdate,
                5000
            );
        }

        function stop_polling() {
            clearInterval(polling_id);
        }

        $(document).ready( () => {
            update();
            $('#datetimepicker2').data("DateTimePicker").disable()
            $('#pollenabler').click(() => {
                if ($('#pollenabler').is(":checked")) {
                    $('#datetimepicker2').data("DateTimePicker").disable()
                    start_polling();
                } else {
                    $('#datetimepicker2').data("DateTimePicker").enable()
                    stop_polling()
                }
            });
            $(document).find('body').on('dp.change', update);
            start_polling();
        });


    .sensor_info
        h4: b Sensor #{device_id}
        p Location: biuro
    .row
        .col-md-6
            ul(class="nav nav-pills")
                +measurement_menu_element("temperature", measurement_id, "Temperature")
                +measurement_menu_element("humidity", measurement_id, "Humidity")
                +measurement_menu_element("voltage", measurement_id, "Voltage")
        .col-md-6
            .row
                .col-sm-2
                .col-sm-4
                    .form-group
                        .input-group.date#datetimepicker1
                            .input-group-addon From
                            input(type='text' class="form-control")
                            span(class="input-group-addon")
                                span(class="glyphicon glyphicon-calendar")
                .col-sm-4
                    .form-group
                        .input-group.date#datetimepicker2
                            .input-group-addon To
                            input(type='text' class="form-control")
                            span(class="input-group-addon")
                                span(class="glyphicon glyphicon-calendar")
                .col-sm-2
                    .checkbox
                        label 
                            input#pollenabler(type="checkbox" checked)
                            | Enable live data
    .row
        .col-md-12
            br
            div(id="graphdiv3" style="width: 100%")
